# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Dagfinn Ilmari Mannsåker <ilmari@ilmari.org> Dagfinn Ilmari Mannsåker <ilmari@photobox.com>
Evan Carroll <me+cpan@evancarroll.com> root <root@x60s.(none)>
Evan Carroll <me+cpan@evancarroll.com> Evan Carroll <me@evancarroll.com>
